
.footer-sub {
  color: #ffffff;
  i {
   color: #ffffff;
  }
}
#footer-bottom {
    background-color: #000000;
  color: #ffffff;
  padding: 20px 0px;
  & #copyright {
    text-align:left;
  }
  & #login{
  text-align: right;
  }
}
